/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
*/.DS_Store
/config/contact.php
/config/photos.php