.navbar-menu {
  a {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-weight: bold;

    &:hover, &:focus {
      background-color: transparent;
      color: #000;
      text-decoration: underline;
    }
  }
  .is-1 a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.navbar {
  background: transparent;
}

.navbar-wrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    z-index: 5;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  a {
    color: #000;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .navbar-item img {
    max-height: 3.35rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  &.collapsed {
    .bg {
      background: #000;
    }

    .navbar-item img {
      max-height: 1.75rem;
    }

    a { color: #FFF; }
  }

  .container {
    z-index: 6;
  }
}